<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokeTrainerApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA75BC581D3EF8DB00F5F0BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA75BC6F1D3EF8DB00F5F0BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA75BC7A1D3EF8DB00F5F0BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
